<!DOCTYPE html>
<html>
  <head>
    <title>Chat app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
  </head>
  <link rel="stylesheet" href="style.css">
    <script defer src="socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
  <body>
    <div id="container">
      <h1>
        APNA TOLA GROUP
      </h1>
      <h3 class="username"></h3>
      <div id="chatSection">
        <div id="chat-window"></div>
        <form class="chat-form">
          <label class="chat-label">
            <input type="text" class="chat-input" />
          </label>
          <input type="submit" class="chat-submit" value="send" />
        </form>
      </div>
    </div>
  </body>
</html>